@import "./__mixin.scss";

$searchFont: 18px;
.homeLogo {
  filter: drop-shadow(rgba(0, 0, 0, 0.705) 10px 15px 25px);
  width: 40%;
  display: grid;
  justify-self: center;
  animation: bounce 5s infinite;
  
}

.search {
  display: flex;
  justify-self: center;
  box-shadow:$boxShadow ;
  border-radius: 10px;
  width: 50%;
  .input_home {
    display: grid;
    justify-self: center;
    width: 80%;
    height: 30px;
    font-family: IRANSans;
    border-radius: 0 10px 10px 0;
    border: none;
    &::placeholder {
      font-size: $searchFont;
      color: $black;
    }
    &:focus{
      outline: none;
    }
  }
  .searchBtn {
    border-radius: 10px 0 0 10px;
    border: none;
    width: 20%;
    font-family: IRANSans;
    font-size: $searchFont;
    background-color: $darkBlue;
  }
}

.sooreBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
  row-gap: 25px;
  margin-bottom: 40px;
  .soore {
    background-color: $darkBlue;
    font-family: IRANSans;
    width: 30%;
    border-radius: 7px;
    text-align: center;
    box-shadow:$boxShadow ;
    &:hover{
      transform: scale(1.05);
    }
  }

}
