$lightBlue :  #51c7cc;
$darkBlue : #2f66ac;
$white : #fff;
$black : #000;
$boxShadow:rgba(0, 0, 0, 0.705) 5px 10px 15px;
@mixin breakPointX($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}
@mixin breakPointY($size) {
    @media only screen and (max-height: $size) {
        @content;
    }
    
}
@keyframes bounce {
   0% {transform: translateY(0);} 
    25% {transform: translateY(5px);} 
    50% {transform: translateY(-5px);} 
    75% {transform: translateY(5px);} 
    100% {transform: translateY(0px);} 
 } 
